# SVC

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Social_Network_Ads.csv")

In [4]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

### Split data in to X and Y

In [5]:
x = df.iloc[:,2:4].values

In [6]:
y=df.iloc[:,4].values

### Split in to test and train

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=0)

In [9]:
x_test.shape

(80, 2)

### standardize the data - make all column values in the same scale

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
sc=StandardScaler()

In [12]:
x_train = sc.fit_transform(x_train)  #Find the y values based on x values(means find equation) and tranform the values based on the standardscaler
x_test = sc.transform(x_test) # here since it is test values, we only need to tranform

### Apply our model using linear kernal

In [13]:
from sklearn.svm import SVC

In [68]:
svc = SVC(kernel="linear")  #kernel=rbf by default. Other option is linear

In [69]:
svc.fit(x_train,y_train)

SVC(kernel='linear')

### Prediction

In [70]:
y_pred = svc.predict(x_test)

In [71]:
y_pred_tr = svc.predict(x_train)

### Metrics

In [14]:
from sklearn.metrics import accuracy_score

In [73]:
accuracy_score(y_test,y_pred)

0.9125

In [74]:
accuracy_score(y_train,y_pred_tr)

0.821875

### Apply our model using Kernal=RBF kernal

In [15]:
svc = SVC(kernel="rbf")

In [16]:
svc.fit(x_train,y_train)

SVC()

In [17]:
y_pred1 = svc.predict(x_test)

In [18]:
y_pred_tr1 = svc.predict(x_train)  ##Trying with training data just to check whether we have an over fitting problem

### Metrics

In [19]:
accuracy_score(y_train,y_pred_tr1)

0.903125

In [20]:
accuracy_score(y_test,y_pred1)

0.95

In [21]:
###Accuracy score is better in RBF

### Coss validation

In [22]:
from sklearn.model_selection import cross_val_score

In [23]:
cross_val_score(SVC(kernel="rbf"),x_train,y_train,cv=5) #estimator is the model you are using, cv is the number of fold
##This function directly gives us the accuracy scores

array([0.859375, 0.875   , 0.859375, 0.90625 , 0.96875 ])

In [24]:
cross_val_score(SVC(kernel="rbf",C=0.1,gamma="auto"),x_train,y_train,cv=5)

array([0.875   , 0.875   , 0.859375, 0.90625 , 0.96875 ])

### Grid Search CV - by applying different values of C and gamma

In [25]:
from sklearn.model_selection import GridSearchCV

In [26]:
clf = GridSearchCV(SVC(kernel='rbf'),{
    "C" : [0.1,0.5,1.0,5,10],
    "gamma" : [1.0, 5.0,10, "auto", "scale"]
}, cv=5)  #cv=5 - 5 fold stratifying sampling

In [27]:
clf.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [0.1, 0.5, 1.0, 5, 10],
                         'gamma': [1.0, 5.0, 10, 'auto', 'scale']})

In [28]:
clf.cv_results_

{'mean_fit_time': array([0.01139789, 0.00278511, 0.00281839, 0.0022727 , 0.00211983,
        0.0016655 , 0.00277796, 0.00290604, 0.00161023, 0.00162005,
        0.00165415, 0.00238919, 0.00288382, 0.00156236, 0.00161366,
        0.00179243, 0.00241566, 0.00326924, 0.0016397 , 0.00170884,
        0.00187912, 0.00250115, 0.00313058, 0.00182109, 0.00181885]),
 'std_fit_time': array([1.79921662e-02, 1.04300605e-04, 1.50051494e-05, 4.85310060e-04,
        7.43222876e-05, 4.96768668e-05, 6.01450769e-04, 1.31061484e-04,
        7.02569675e-05, 5.88064150e-05, 1.81402606e-04, 1.18519792e-04,
        1.00372647e-04, 5.59019123e-05, 9.68770000e-05, 1.66566802e-04,
        1.02595922e-04, 1.48588870e-04, 9.06289955e-05, 1.16347446e-04,
        2.04779471e-04, 2.08497755e-04, 3.11295629e-04, 1.34801232e-04,
        1.62476228e-04]),
 'mean_score_time': array([0.00103083, 0.00098372, 0.00101266, 0.00079532, 0.00087609,
        0.00061483, 0.00079784, 0.00088801, 0.00059948, 0.00060968,
        0.00057311, 0.00070152, 0.00079494, 0.0005692 , 0.00056162,
        0.00056114, 0.00067148, 0.00077004, 0.00055184, 0.00057569,
        0.00053973, 0.00068378, 0.00085478, 0.00055017, 0.00053244]),
 'std_score_time': array([4.21984198e-04, 2.94741684e-05, 5.73037654e-05, 2.62327186e-05,
        1.50693715e-04, 2.72191748e-05, 4.92576708e-05, 1.24019836e-05,
        1.33519513e-05, 2.32598800e-05, 2.18354976e-05, 2.53418202e-05,
        1.51349045e-05, 1.66105045e-05, 3.03515747e-05, 2.94133939e-05,
        1.84891110e-05, 6.78953157e-06, 4.02153841e-05, 3.90385507e-05,
        2.90015010e-05, 6.31093574e-05, 1.70533222e-04, 4.05969086e-05,
        2.35416586e-05]),
 'param_C': masked_array(data=[0.1, 0.1, 0.1, 0.1, 0.1, 0.5, 0.5, 0.5, 0.5, 0.5, 1.0,
                    1.0, 1.0, 1.0, 1.0, 5, 5, 5, 5, 5, 10, 10, 10, 10, 10],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_gamma': masked_array(data=[1.0, 5.0, 10, 'auto', 'scale', 1.0, 5.0, 10, 'auto',
                    'scale', 1.0, 5.0, 10, 'auto', 'scale', 1.0, 5.0, 10,
                    'auto', 'scale', 1.0, 5.0, 10, 'auto', 'scale'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 0.1, 'gamma': 1.0},
  {'C': 0.1, 'gamma': 5.0},
  {'C': 0.1, 'gamma': 10},
  {'C': 0.1, 'gamma': 'auto'},
  {'C': 0.1, 'gamma': 'scale'},
  {'C': 0.5, 'gamma': 1.0},
  {'C': 0.5, 'gamma': 5.0},
  {'C': 0.5, 'gamma': 10},
  {'C': 0.5, 'gamma': 'auto'},
  {'C': 0.5, 'gamma': 'scale'},
  {'C': 1.0, 'gamma': 1.0},
  {'C': 1.0, 'gamma': 5.0},
  {'C': 1.0, 'gamma': 10},
  {'C': 1.0, 'gamma': 'auto'},
  {'C': 1.0, 'gamma': 'scale'},
  {'C': 5, 'gamma': 1.0},
  {'C': 5, 'gamma': 5.0},
  {'C': 5, 'gamma': 10},
  {'C': 5, 'gamma': 'auto'},
  {'C': 5, 'gamma': 'scale'},
  {'C': 10, 'gamma': 1.0},
  {'C': 10, 'gamma': 5.0},
  {'C': 10, 'gamma': 10},
  {'C': 10, 'gamma': 'auto'},
  {'C': 10, 'gamma': 'scale'}],
 'split0_test_score': array([0.859375, 0.8125  , 0.625   , 0.875   , 0.875   , 0.859375,
        0.859375, 0.875   , 0.859375, 0.859375, 0.859375, 0.859375,
        0.875   , 0.859375, 0.859375, 0.84375 , 0.859375, 0.875   ,
        0.859375, 0.859375, 0.84375 , 0.84375 , 0.875   , 0.859375,
        0.859375]),
 'split1_test_score': array([0.875   , 0.8125  , 0.671875, 0.875   , 0.875   , 0.875   ,
        0.859375, 0.859375, 0.875   , 0.875   , 0.875   , 0.84375 ,
        0.859375, 0.875   , 0.875   , 0.875   , 0.84375 , 0.8125  ,
        0.859375, 0.859375, 0.875   , 0.84375 , 0.8125  , 0.859375,
        0.859375]),
 'split2_test_score': array([0.875   , 0.796875, 0.703125, 0.859375, 0.859375, 0.90625 ,
        0.921875, 0.9375  , 0.875   , 0.875   , 0.921875, 0.921875,
        0.9375  , 0.859375, 0.859375, 0.90625 , 0.859375, 0.890625,
        0.90625 , 0.90625 , 0.921875, 0.859375, 0.875   , 0.90625 ,
        0.90625 ]),
 'split3_test_score': array([0.90625 , 0.875   , 0.671875, 0.90625 , 0.90625 , 0.90625 ,
        0.90625 , 0.90625 , 0.90625 , 0.90625 , 0.90625 , 0.90625 ,
        0.90625 , 0.90625 , 0.90625 , 0.90625 , 0.90625 , 0.890625,
        0.90625 , 0.90625 , 0.90625 , 0.875   , 0.890625, 0.90625 ,
        0.90625 ]),
 'split4_test_score': array([0.96875 , 0.796875, 0.671875, 0.96875 , 0.96875 , 0.984375,
        0.984375, 0.984375, 0.96875 , 0.96875 , 0.984375, 0.984375,
        0.984375, 0.96875 , 0.96875 , 0.984375, 0.96875 , 0.953125,
        0.984375, 0.984375, 0.984375, 0.96875 , 0.953125, 0.96875 ,
        0.96875 ]),
 'mean_test_score': array([0.896875, 0.81875 , 0.66875 , 0.896875, 0.896875, 0.90625 ,
        0.90625 , 0.9125  , 0.896875, 0.896875, 0.909375, 0.903125,
        0.9125  , 0.89375 , 0.89375 , 0.903125, 0.8875  , 0.884375,
        0.903125, 0.903125, 0.90625 , 0.878125, 0.88125 , 0.9     ,
        0.9     ]),
 'std_test_score': array([0.03903124, 0.02898006, 0.025     , 0.03903124, 0.03903124,
        0.04307515, 0.04635124, 0.04485219, 0.03903124, 0.03903124,
        0.04352621, 0.0498043 , 0.04485219, 0.04122158, 0.04122158,
        0.04677072, 0.04571481, 0.04485219, 0.04571481, 0.04571481,
        0.04739297, 0.04677072, 0.04485219, 0.04026281, 0.04026281]),
 'rank_test_score': array([13, 24, 25, 13, 13,  4,  4,  1, 13, 13,  3,  7,  1, 18, 18,  7, 20,
        21,  7,  7,  4, 23, 22, 11, 11], dtype=int32)}

In [32]:
df1 = pd.DataFrame(clf.cv_results_)  #to make te previous results readable. 
#took Done iterations - for each C values and take all gamma values

In [33]:
df1

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.011398,0.017992,0.001031,0.000422,0.1,1,"{'C': 0.1, 'gamma': 1.0}",0.859375,0.875000,0.875000,0.906250,0.968750,0.896875,0.039031,13
1,0.002785,0.000104,0.000984,0.000029,0.1,5,"{'C': 0.1, 'gamma': 5.0}",0.812500,0.812500,0.796875,0.875000,0.796875,0.818750,0.028980,24
2,0.002818,0.000015,0.001013,0.000057,0.1,10,"{'C': 0.1, 'gamma': 10}",0.625000,0.671875,0.703125,0.671875,0.671875,0.668750,0.025000,25
3,0.002273,0.000485,0.000795,0.000026,0.1,auto,"{'C': 0.1, 'gamma': 'auto'}",0.875000,0.875000,0.859375,0.906250,0.968750,0.896875,0.039031,13
4,0.002120,0.000074,0.000876,0.000151,0.1,scale,"{'C': 0.1, 'gamma': 'scale'}",0.875000,0.875000,0.859375,0.906250,0.968750,0.896875,0.039031,13
5,0.001665,0.000050,0.000615,0.000027,0.5,1,"{'C': 0.5, 'gamma': 1.0}",0.859375,0.875000,0.906250,0.906250,0.984375,0.906250,0.043075,4
6,0.002778,0.000601,0.000798,0.000049,0.5,5,"{'C': 0.5, 'gamma': 5.0}",0.859375,0.859375,0.921875,0.906250,0.984375,0.906250,0.046351,4
7,0.002906,0.000131,0.000888,0.000012,0.5,10,"{'C': 0.5, 'gamma': 10}",0.875000,0.859375,0.937500,0.906250,0.984375,0.912500,0.044852,1
8,0.001610,0.000070,0.000599,0.000013,0.5,auto,"{'C': 0.5, 'gamma': 'auto'}",0.859375,0.875000,0.875000,0.906250,0.968750,0.896875,0.039031,13
9,0.001620,0.000059,0.000610,0.000023,0.5,scale,"{'C': 0.5, 'gamma': 'scale'}",0.859375,0.875000,0.875000,0.906250,0.968750,0.896875,0.039031,13
10,0.001654,0.000181,0.000573,0.000022,1,1,"{'C': 1.0, 'gamma': 1.0}",0.859375,0.875000,0.921875,0.906250,0.984375,0.909375,0.043526,3
11,0.002389,0.000119,0.000702,0.000025,1,5,"{'C': 1.0, 'gamma': 5.0}",0.859375,0.843750,0.921875,0.906250,0.984375,0.903125,0.049804,7
12,0.002884,0.000100,0.000795,0.000015,1,10,"{'C': 1.0, 'gamma': 10}",0.875000,0.859375,0.937500,0.906250,0.984375,0.912500,0.044852,1
13,0.001562,0.000056,0.000569,0.000017,1,auto,"{'C': 1.0, 'gamma': 'auto'}",0.859375,0.875000,0.859375,0.906250,0.968750,0.893750,0.041222,18
14,0.001614,0.000097,0.000562,0.000030,1,scale,"{'C': 1.0, 'gamma': 'scale'}",0.859375,0.875000,0.859375,0.906250,0.968750,0.893750,0.041222,18
15,0.001792,0.000167,0.000561,0.000029,5,1,"{'C': 5, 'gamma': 1.0}",0.843750,0.875000,0.906250,0.906250,0.984375,0.903125,0.046771,7
16,0.002416,0.000103,0.000671,0.000018,5,5,"{'C': 5, 'gamma': 5.0}",0.859375,0.843750,0.859375,0.906250,0.968750,0.887500,0.045715,20
17,0.003269,0.000149,0.000770,0.000007,5,10,"{'C': 5, 'gamma': 10}",0.875000,0.812500,0.890625,0.890625,0.953125,0.884375,0.044852,21
18,0.001640,0.000091,0.000552,0.000040,5,auto,"{'C': 5, 'gamma': 'auto'}",0.859375,0.859375,0.906250,0.906250,0.984375,0.903125,0.045715,7
19,0.001709,0.000116,0.000576,0.000039,5,scale,"{'C': 5, 'gamma': 'scale'}",0.859375,0.859375,0.906250,0.906250,0.984375,0.903125,0.045715,7
20,0.001879,0.000205,0.000540,0.000029,10,1,"{'C': 10, 'gamma': 1.0}",0.843750,0.875000,0.921875,0.906250,0.984375,0.906250,0.047393,4
21,0.002501,0.000208,0.000684,0.000063,10,5,"{'C': 10, 'gamma': 5.0}",0.843750,0.843750,0.859375,0.875000,0.968750,0.878125,0.046771,23
22,0.003131,0.000311,0.000855,0.000171,10,10,"{'C': 10, 'gamma': 10}",0.875000,0.812500,0.875000,0.890625,0.953125,0.881250,0.044852,22
23,0.001821,0.000135,0.000550,0.000041,10,auto,"{'C': 10, 'gamma': 'auto'}",0.859375,0.859375,0.906250,0.906250,0.968750,0.900000,0.040263,11
24,0.001819,0.000162,0.000532,0.000024,10,scale,"{'C': 10, 'gamma': 'scale'}",0.859375,0.859375,0.906250,0.906250,0.968750,0.900000,0.040263,11

### Need to select param_c, param_gamma and meant_test_score and select the C and Gammma with the max mean test score

In [34]:
df1[['param_C', "param_gamma","mean_test_score"]]

   param_C param_gamma  mean_test_score
0      0.1           1         0.896875
1      0.1           5         0.818750
2      0.1          10         0.668750
3      0.1        auto         0.896875
4      0.1       scale         0.896875
5      0.5           1         0.906250
6      0.5           5         0.906250
7      0.5          10         0.912500
8      0.5        auto         0.896875
9      0.5       scale         0.896875
10       1           1         0.909375
11       1           5         0.903125
12       1          10         0.912500
13       1        auto         0.893750
14       1       scale         0.893750
15       5           1         0.903125
16       5           5         0.887500
17       5          10         0.884375
18       5        auto         0.903125
19       5       scale         0.903125
20      10           1         0.906250
21      10           5         0.878125
22      10          10         0.881250
23      10        auto         0.900000
24      10       scale         0.900000

In [36]:
clf.best_params_  #to get the best accuracy, you can just do the following

{'C': 0.5, 'gamma': 10}