In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("Social_Network_Ads.csv")

In [14]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [15]:
x = df.iloc[:,2:4].values
y = df.iloc[:,4].values

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=0)

In [18]:
x_test.shape

(80, 2)

In [19]:
x_train[0]

array([    58, 144000])

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
sc = StandardScaler()

In [20]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [21]:
x_train[0]

array([1.92295008, 2.14601566])

In [22]:
from sklearn.svm import SVC

In [23]:
svc = SVC(kernel="linear")

In [24]:
svc.fit(x_train, y_train)

SVC(kernel='linear')

In [25]:
y_pred = svc.predict(x_test)

In [26]:
y_pred_tr = svc.predict(x_train)

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
accuracy_score(y_train, y_pred_tr)

0.821875

In [29]:
accuracy_score(y_test, y_pred)

0.9125

In [30]:
svc = SVC(kernel="rbf")

In [31]:
svc.fit(x_train, y_train)

SVC()

In [32]:
y_pred1 = svc.predict(x_test)

In [33]:
y_pred_tr1 = svc.predict(x_train)

In [34]:
accuracy_score(y_train, y_pred_tr1)

0.903125

In [35]:
accuracy_score(y_test, y_pred1)

0.95

In [36]:
from sklearn.model_selection import cross_val_score

In [38]:
cross_val_score(SVC(kernel="rbf"),x_train,y_train,cv=5)

array([0.859375, 0.875   , 0.859375, 0.90625 , 0.96875 ])

In [40]:
cross_val_score(SVC(kernel="rbf", C = 0.1, gamma="auto"),x_train,y_train,cv=5)

array([0.875   , 0.875   , 0.859375, 0.90625 , 0.96875 ])

In [41]:
from sklearn.model_selection import GridSearchCV

In [42]:
clf = GridSearchCV(SVC(kernel='rbf'),{
    "C" : [0.1,0.5,1.0,5,10],
    "gamma" : [1.0, 5.0,10, "auto", "scale"]
}, cv=5)

In [43]:
clf.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [0.1, 0.5, 1.0, 5, 10],
                         'gamma': [1.0, 5.0, 10, 'auto', 'scale']})

In [44]:
clf.cv_results_

{'mean_fit_time': array([0.00222859, 0.00272131, 0.00281029, 0.00203681, 0.00208764,
        0.00159554, 0.00247517, 0.00277743, 0.00154753, 0.00158548,
        0.00165057, 0.00236216, 0.00289559, 0.00155363, 0.00160356,
        0.00179515, 0.00242829, 0.00323992, 0.00162921, 0.00170898,
        0.00188026, 0.00239797, 0.00309205, 0.00175753, 0.00182514]),
 'std_fit_time': array([1.32655172e-04, 3.35955382e-05, 2.92738405e-05, 3.48698074e-05,
        5.10526277e-05, 5.89084787e-05, 1.70140857e-04, 1.21414914e-04,
        7.72509162e-05, 7.69222731e-05, 7.70845281e-05, 7.92208076e-05,
        7.19280048e-05, 4.14216448e-05, 7.72485615e-05, 1.53035506e-04,
        1.46466803e-04, 1.58821094e-04, 1.06441184e-04, 1.28837129e-04,
        2.09079724e-04, 9.19184978e-05, 3.32016786e-04, 1.38040659e-04,
        1.71774880e-04]),
 'mean_score_time': array([0.00082736, 0.00095525, 0.00097895, 0.00077252, 0.0007782 ,
        0.00059419, 0.00075455, 0.00087938, 0.00058784, 0.00058675,
        0.00063863, 0.00069642, 0.00080595, 0.00057955, 0.00055285,
        0.00054374, 0.00066309, 0.00078106, 0.00052199, 0.00054393,
        0.00053158, 0.00063872, 0.0007431 , 0.00052114, 0.00052676]),
 'std_score_time': array([5.26473140e-05, 2.40869324e-05, 1.43225881e-05, 2.53412819e-05,
        1.51037746e-05, 2.25486002e-05, 2.59648232e-05, 1.39221752e-05,
        1.51109989e-05, 2.04256691e-05, 1.58625211e-04, 1.52997124e-05,
        2.93948354e-05, 1.73626356e-05, 1.80452469e-05, 2.17620664e-05,
        2.90336274e-05, 1.76925221e-05, 1.81007285e-05, 3.29005891e-05,
        2.09100570e-05, 1.45915287e-05, 9.39671715e-06, 2.05092091e-05,
        1.97335704e-05]),
 'param_C': masked_array(data=[0.1, 0.1, 0.1, 0.1, 0.1, 0.5, 0.5, 0.5, 0.5, 0.5, 1.0,
                    1.0, 1.0, 1.0, 1.0, 5, 5, 5, 5, 5, 10, 10, 10, 10, 10],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_gamma': masked_array(data=[1.0, 5.0, 10, 'auto', 'scale', 1.0, 5.0, 10, 'auto',
                    'scale', 1.0, 5.0, 10, 'auto', 'scale', 1.0, 5.0, 10,
                    'auto', 'scale', 1.0, 5.0, 10, 'auto', 'scale'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 0.1, 'gamma': 1.0},
  {'C': 0.1, 'gamma': 5.0},
  {'C': 0.1, 'gamma': 10},
  {'C': 0.1, 'gamma': 'auto'},
  {'C': 0.1, 'gamma': 'scale'},
  {'C': 0.5, 'gamma': 1.0},
  {'C': 0.5, 'gamma': 5.0},
  {'C': 0.5, 'gamma': 10},
  {'C': 0.5, 'gamma': 'auto'},
  {'C': 0.5, 'gamma': 'scale'},
  {'C': 1.0, 'gamma': 1.0},
  {'C': 1.0, 'gamma': 5.0},
  {'C': 1.0, 'gamma': 10},
  {'C': 1.0, 'gamma': 'auto'},
  {'C': 1.0, 'gamma': 'scale'},
  {'C': 5, 'gamma': 1.0},
  {'C': 5, 'gamma': 5.0},
  {'C': 5, 'gamma': 10},
  {'C': 5, 'gamma': 'auto'},
  {'C': 5, 'gamma': 'scale'},
  {'C': 10, 'gamma': 1.0},
  {'C': 10, 'gamma': 5.0},
  {'C': 10, 'gamma': 10},
  {'C': 10, 'gamma': 'auto'},
  {'C': 10, 'gamma': 'scale'}],
 'split0_test_score': array([0.859375, 0.8125  , 0.625   , 0.875   , 0.875   , 0.859375,
        0.859375, 0.875   , 0.859375, 0.859375, 0.859375, 0.859375,
        0.875   , 0.859375, 0.859375, 0.84375 , 0.859375, 0.875   ,
        0.859375, 0.859375, 0.84375 , 0.84375 , 0.875   , 0.859375,
        0.859375]),
 'split1_test_score': array([0.875   , 0.8125  , 0.671875, 0.875   , 0.875   , 0.875   ,
        0.859375, 0.859375, 0.875   , 0.875   , 0.875   , 0.84375 ,
        0.859375, 0.875   , 0.875   , 0.875   , 0.84375 , 0.8125  ,
        0.859375, 0.859375, 0.875   , 0.84375 , 0.8125  , 0.859375,
        0.859375]),
 'split2_test_score': array([0.875   , 0.796875, 0.703125, 0.859375, 0.859375, 0.90625 ,
        0.921875, 0.9375  , 0.875   , 0.875   , 0.921875, 0.921875,
        0.9375  , 0.859375, 0.859375, 0.90625 , 0.859375, 0.890625,
        0.90625 , 0.90625 , 0.921875, 0.859375, 0.875   , 0.90625 ,
        0.90625 ]),
 'split3_test_score': array([0.90625 , 0.875   , 0.671875, 0.90625 , 0.90625 , 0.90625 ,
        0.90625 , 0.90625 , 0.90625 , 0.90625 , 0.90625 , 0.90625 ,
        0.90625 , 0.90625 , 0.90625 , 0.90625 , 0.90625 , 0.890625,
        0.90625 , 0.90625 , 0.90625 , 0.875   , 0.890625, 0.90625 ,
        0.90625 ]),
 'split4_test_score': array([0.96875 , 0.796875, 0.671875, 0.96875 , 0.96875 , 0.984375,
        0.984375, 0.984375, 0.96875 , 0.96875 , 0.984375, 0.984375,
        0.984375, 0.96875 , 0.96875 , 0.984375, 0.96875 , 0.953125,
        0.984375, 0.984375, 0.984375, 0.96875 , 0.953125, 0.96875 ,
        0.96875 ]),
 'mean_test_score': array([0.896875, 0.81875 , 0.66875 , 0.896875, 0.896875, 0.90625 ,
        0.90625 , 0.9125  , 0.896875, 0.896875, 0.909375, 0.903125,
        0.9125  , 0.89375 , 0.89375 , 0.903125, 0.8875  , 0.884375,
        0.903125, 0.903125, 0.90625 , 0.878125, 0.88125 , 0.9     ,
        0.9     ]),
 'std_test_score': array([0.03903124, 0.02898006, 0.025     , 0.03903124, 0.03903124,
        0.04307515, 0.04635124, 0.04485219, 0.03903124, 0.03903124,
        0.04352621, 0.0498043 , 0.04485219, 0.04122158, 0.04122158,
        0.04677072, 0.04571481, 0.04485219, 0.04571481, 0.04571481,
        0.04739297, 0.04677072, 0.04485219, 0.04026281, 0.04026281]),
 'rank_test_score': array([13, 24, 25, 13, 13,  4,  4,  1, 13, 13,  3,  7,  1, 18, 18,  7, 20,
        21,  7,  7,  4, 23, 22, 11, 11], dtype=int32)}

In [45]:
df1 = pd.DataFrame(clf.cv_results_)

In [46]:
df1

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002229,0.000133,0.000827,0.000053,0.1,1,"{'C': 0.1, 'gamma': 1.0}",0.859375,0.875000,0.875000,0.906250,0.968750,0.896875,0.039031,13
1,0.002721,0.000034,0.000955,0.000024,0.1,5,"{'C': 0.1, 'gamma': 5.0}",0.812500,0.812500,0.796875,0.875000,0.796875,0.818750,0.028980,24
2,0.002810,0.000029,0.000979,0.000014,0.1,10,"{'C': 0.1, 'gamma': 10}",0.625000,0.671875,0.703125,0.671875,0.671875,0.668750,0.025000,25
3,0.002037,0.000035,0.000773,0.000025,0.1,auto,"{'C': 0.1, 'gamma': 'auto'}",0.875000,0.875000,0.859375,0.906250,0.968750,0.896875,0.039031,13
4,0.002088,0.000051,0.000778,0.000015,0.1,scale,"{'C': 0.1, 'gamma': 'scale'}",0.875000,0.875000,0.859375,0.906250,0.968750,0.896875,0.039031,13
5,0.001596,0.000059,0.000594,0.000023,0.5,1,"{'C': 0.5, 'gamma': 1.0}",0.859375,0.875000,0.906250,0.906250,0.984375,0.906250,0.043075,4
6,0.002475,0.000170,0.000755,0.000026,0.5,5,"{'C': 0.5, 'gamma': 5.0}",0.859375,0.859375,0.921875,0.906250,0.984375,0.906250,0.046351,4
7,0.002777,0.000121,0.000879,0.000014,0.5,10,"{'C': 0.5, 'gamma': 10}",0.875000,0.859375,0.937500,0.906250,0.984375,0.912500,0.044852,1
8,0.001548,0.000077,0.000588,0.000015,0.5,auto,"{'C': 0.5, 'gamma': 'auto'}",0.859375,0.875000,0.875000,0.906250,0.968750,0.896875,0.039031,13
9,0.001585,0.000077,0.000587,0.000020,0.5,scale,"{'C': 0.5, 'gamma': 'scale'}",0.859375,0.875000,0.875000,0.906250,0.968750,0.896875,0.039031,13
10,0.001651,0.000077,0.000639,0.000159,1,1,"{'C': 1.0, 'gamma': 1.0}",0.859375,0.875000,0.921875,0.906250,0.984375,0.909375,0.043526,3
11,0.002362,0.000079,0.000696,0.000015,1,5,"{'C': 1.0, 'gamma': 5.0}",0.859375,0.843750,0.921875,0.906250,0.984375,0.903125,0.049804,7
12,0.002896,0.000072,0.000806,0.000029,1,10,"{'C': 1.0, 'gamma': 10}",0.875000,0.859375,0.937500,0.906250,0.984375,0.912500,0.044852,1
13,0.001554,0.000041,0.000580,0.000017,1,auto,"{'C': 1.0, 'gamma': 'auto'}",0.859375,0.875000,0.859375,0.906250,0.968750,0.893750,0.041222,18
14,0.001604,0.000077,0.000553,0.000018,1,scale,"{'C': 1.0, 'gamma': 'scale'}",0.859375,0.875000,0.859375,0.906250,0.968750,0.893750,0.041222,18
15,0.001795,0.000153,0.000544,0.000022,5,1,"{'C': 5, 'gamma': 1.0}",0.843750,0.875000,0.906250,0.906250,0.984375,0.903125,0.046771,7
16,0.002428,0.000146,0.000663,0.000029,5,5,"{'C': 5, 'gamma': 5.0}",0.859375,0.843750,0.859375,0.906250,0.968750,0.887500,0.045715,20
17,0.003240,0.000159,0.000781,0.000018,5,10,"{'C': 5, 'gamma': 10}",0.875000,0.812500,0.890625,0.890625,0.953125,0.884375,0.044852,21
18,0.001629,0.000106,0.000522,0.000018,5,auto,"{'C': 5, 'gamma': 'auto'}",0.859375,0.859375,0.906250,0.906250,0.984375,0.903125,0.045715,7
19,0.001709,0.000129,0.000544,0.000033,5,scale,"{'C': 5, 'gamma': 'scale'}",0.859375,0.859375,0.906250,0.906250,0.984375,0.903125,0.045715,7
20,0.001880,0.000209,0.000532,0.000021,10,1,"{'C': 10, 'gamma': 1.0}",0.843750,0.875000,0.921875,0.906250,0.984375,0.906250,0.047393,4
21,0.002398,0.000092,0.000639,0.000015,10,5,"{'C': 10, 'gamma': 5.0}",0.843750,0.843750,0.859375,0.875000,0.968750,0.878125,0.046771,23
22,0.003092,0.000332,0.000743,0.000009,10,10,"{'C': 10, 'gamma': 10}",0.875000,0.812500,0.875000,0.890625,0.953125,0.881250,0.044852,22
23,0.001758,0.000138,0.000521,0.000021,10,auto,"{'C': 10, 'gamma': 'auto'}",0.859375,0.859375,0.906250,0.906250,0.968750,0.900000,0.040263,11
24,0.001825,0.000172,0.000527,0.000020,10,scale,"{'C': 10, 'gamma': 'scale'}",0.859375,0.859375,0.906250,0.906250,0.968750,0.900000,0.040263,11

In [ ]:
df1[['param_C', "param_gamma"]]