# VARIABLE ASSIGNMENT

In [1]:
my_code = 2

In [2]:
my_code

2

In [6]:
a = 5

In [4]:
a = 10

In [7]:
a

5

In [22]:
# Reassigning
a=a+10
a

135

In [20]:
a += 10

In [21]:
a

125

In [29]:
a -= 10
a

65

In [36]:
a *= 10
a

650000000

In [54]:
a /= 10
a

6.5e-10

In [55]:
my_income  = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [56]:
my_taxes

10.0

### Python can actually take variety of data types and we can use "type" operator
INT
FLOAT
STR
LIST
TUPLE
DICT
SET
BOOL

In [58]:
a = 12
type(a)

int

In [59]:
a = 12.3
type(a)

float

In [61]:
a = 'Pratul'
type(a)

str

In [63]:
a = [12,13,14]
type(a)

list

In [65]:
a = (1,2,3)
type(a)

tuple

In [72]:
a = {'Pratul':12}
type(a)

dict