# STRINGS

In [1]:
'HELLO'

'HELLO'

In [2]:
"HELLO"

'HELLO'

In [3]:
'This is a string'

'This is a string'

In [5]:
type('23')

str

In [6]:
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [9]:
print('Hello World 1')
print('Hello World 2')

Hello World 1
Hello World 2

In [14]:
len('Hello World')

11

In [15]:
s = 'Hello World'

In [16]:
s[0]

'H'

In [17]:
s[4]

'o'

In [18]:
s[-1]

'd'

In [19]:
s

'Hello World'

In [22]:
s[3:]   #Skipping Start before colon

'lo World'

In [26]:
s[:7]  #Till the number of element

'Hello W'

In [27]:
s[:-1]  #Till the number of element

'Hello Worl'

In [29]:
s[:]

'Hello World'

In [32]:
s[::2]

'HloWrd'

In [39]:
s[-1]

'd'

In [34]:
s

'Hello World'

In [36]:
s + ' concatenate a letter'

'Hello World concatenate a letter'

In [40]:
s = s + ' concatenate a letter'  #reassignment

In [41]:
s

'Hello World concatenate a letter'

In [43]:
s

'Hello World concatenate a letter'

In [47]:
s[::-2]

'rte  tntco lo le'

In [49]:
s[1:4:2]

'el'

In [50]:
letter = 'z'

In [51]:
letter*10

'zzzzzzzzzz'

In [52]:
s

'Hello World concatenate a letter'

In [53]:
s.upper()

'HELLO WORLD CONCATENATE A LETTER'

In [54]:
s.lower()

'hello world concatenate a letter'

In [62]:
s.split(' ')

['Hello', 'World', 'concatenate', 'a', 'letter']

In [63]:
s.title()

'Hello World Concatenate A Letter'

In [64]:
s.capitalize()

'Hello world concatenate a letter'

# LIST

In [66]:
my_list = [1,2,3]

In [67]:
my_list

[1, 2, 3]

In [68]:
my_list = ['A String',23,30,29]

In [69]:
my_list

['A String', 23, 30, 29]

In [77]:
my_list[0] = 12

In [78]:
my_list

[12, 'two', 'three', 4, 5]

In [72]:
my_list = ['one','two','three',4,5]

In [75]:
my_list[1:]

['two', 'three', 4, 5]

In [76]:
my_list[::3]

['one', 4]

In [79]:
my_list = my_list + ['add new item']

In [80]:
my_list

[12, 'two', 'three', 4, 5, 'add new item']

In [81]:
my_list*2

[12,
 'two',
 'three',
 4,
 5,
 'add new item',
 12,
 'two',
 'three',
 4,
 5,
 'add new item']

In [103]:
list1 = [1,2,3]

In [104]:
list1.append('append me')

In [105]:
list1

[1, 2, 3, 'append me']

In [101]:
list1.pop(1)

2

In [107]:
list1

[1, 'me', 2, 3, 'append me']

In [106]:
list1.insert(1,'me')

In [108]:
new_list = ['a','e','x','b','c']

In [109]:
new_list

['a', 'e', 'x', 'b', 'c']

In [120]:
new_list.reverse()

In [121]:
new_list

['x', 'e', 'c', 'b', 'a']

In [117]:
new_list[::-1]

['c', 'b', 'x', 'e', 'a']

In [122]:
new_list.sort()

In [123]:
new_list

['a', 'b', 'c', 'e', 'x']

In [131]:
# NESTED LIST
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = [9,8,0,6]

In [132]:
list4 = [list1,list2,list3]

In [133]:
list4

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 8, 0, 6]]

In [134]:
list4[0]

[1, 2, 3, 4]

In [136]:
list4[3][2]

IndexError: list index out of range

# Tuple

In [137]:
t = (1,2,3)

In [138]:
len(t)

3

In [139]:
t = ('one',2)

In [140]:
t

('one', 2)

In [141]:
t[0]

'one'

In [143]:
t = (1,2,3,4,5,6)

In [144]:
t[-1]

6

In [145]:
t[0] = 3

TypeError: 'tuple' object does not support item assignment

In [146]:
t[1]

2

In [148]:
t[::-1]

(6, 5, 4, 3, 2, 1)

# DICTIONARIES

In [149]:
my_dict = {"key1":'value1','key2':'value2'}

In [150]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [151]:
my_dict = {'key1':123,'Key2':2,'key3':3,'key4':4}

In [152]:
my_dict['key1']

123

In [156]:
my_dict = {'key1':123,'key2':[12,13,14],'key3':['item0','item1','item2']}

In [158]:
my_dict['key2'][1]

13

In [160]:
my_dict['key3'][0].upper()

'ITEM0'

In [161]:
my_dict

{'key1': 123, 'key2': [12, 13, 14], 'key3': ['item0', 'item1', 'item2']}

In [162]:
my_dict['key1']

123

In [163]:
my_dict['key1'] = my_dict['key1'] - 123

In [164]:
my_dict['key1']

0

In [165]:
my_dict

{'key1': 0, 'key2': [12, 13, 14], 'key3': ['item0', 'item1', 'item2']}

In [166]:
d = {}

In [167]:
d['animal'] = 'DOG'

In [168]:
d

{'animal': 'DOG'}

In [169]:
d['answer'] = 42

In [170]:
d

{'animal': 'DOG', 'answer': 42}

In [171]:
d = {'key1': {'nestkey':{'subnestkey':'value'}}}

In [172]:
d.values()

dict_values([{'nestkey': {'subnestkey': 'value'}}])

In [174]:
d['key1']['nestkey']['subnestkey']

'value'

In [175]:
my_dict = {'key1':123,'Key2':2,'key3':3,'key4':4}

In [177]:
list(my_dict.values())

[123, 2, 3, 4]

# PRINT FORMATTING

In [185]:
print("I 'm going to inject %s here." % '123')

I 'm going to inject 123 here.

In [186]:
print("I m going to inject %s text here, and %s text here."%('some','more'))

I m going to inject some text here, and more text here.

In [188]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred')

He said his name was Fred.
He said his name was 'Fred'.

In [205]:
print('Floating point number: %0.2f' %(13.442345678909876543))

Floating point number: 13.44

In [206]:
print('This is a string with an {}'.format('insert'))

This is a string with an insert

In [211]:
print('The {3} {1} {0} {2}'.format('fox','brown','quick','four'))

The four brown fox quick

# SETS AND BOOLEAN

In [222]:
x = set()

In [223]:
x.add(1)

In [224]:
x.add(2)

In [225]:
x.add(3)

In [226]:
x

{1, 2, 3}

In [227]:
x = (1,3,3,3,3,3,3,2,3,33,3,2,2,2)

In [228]:
set(x)

{1, 2, 3, 33}

In [255]:
list1 = [1,2,2,2,2,2,3,3,4,5,6,1444444,'a','A','b','D']

In [256]:
set(list1)

{1, 1444444, 2, 3, 4, 5, 6, 'A', 'D', 'a', 'b'}

### Boolean

In [236]:
a = True

In [257]:
a

True

In [258]:
1 > 2

False

In [259]:
b = None

In [260]:
b

# PYTHON STATEMENT

In [262]:
x = False

if x:
    print('x was True')
else:
    print('False')

False

In [264]:
loc = 'xyz'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop')
elif loc == 'bank':
    print('Welcome to the bank')
else:
    print('Wrong Answer')

Wrong Answer

# For Loop

In [272]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = 'abcdefghijklmonopqrsttuvwxyz'

In [273]:
for i in list2:
    print(i)

a
b
c
d
e
f
g
h
i
j
k
l
m
o
n
o
p
q
r
s
t
t
u
v
w
x
y
z

In [268]:
17 % 5

2

In [269]:
10 % 3

1

In [271]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [274]:
for num in list1:
    if num % 2 == 1:
        print(num)

1
3
5
7
9

In [280]:
print(list1)
list_sum = 0

for num in list1:
    list_sum = list_sum + num
    
print(list_sum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55

In [293]:
n = int(input())    #input method
abc = 0
for num in range(n+1):
    abc = abc + num
    
print(abc)

 10

55

In [295]:
a = input()

 Pratul

In [296]:
list2 = [(2,4),(6,8),(10,12)]

In [298]:
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [300]:
for (t1,t2) in list2:
    print(t2)

4
8
12