# WHILE LOOP

In [2]:
x = 0

while x < 10:  #Condition
    x = x + 1  #Updating the Value of X
    print(x)

1
2
3
4
5
6
7
8
9
10

In [3]:
x = 0

while x < 10:  #Condition
    x = x + 1  #Updating the Value of X
    print(x)
else:
    print('All Done')

1
2
3
4
5
6
7
8
9
10
All Done

# Break, Continue and Pass  Control Flow Statement

In [6]:
x = 0

while x < 10:  #Condition
    x = x + 1  #Updating the Value of X
    if x == 3:
        break
    print(x)

1
2

In [11]:
x = 0

while x < 10:  #Condition
    x = x + 1  #Updating the Value of X
    if x == 3:
        continue
    print(x)

1
2
4
5
6
7
8
9
10

In [10]:
x = 0

while x < 11:  #Condition
    x = x + 1  #Updating the Value of X
    if x == 7:
        pass
    print(x)

1
2
3
4
5
6
7
8
9
10
11

# USEFUL OPERATOR

In [13]:
range(0,11)

range(0, 11)

In [16]:
list(range(0,11,3))

[0, 3, 6, 9]

In [17]:
index_count =  0

for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count = index_count + 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [19]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [26]:
mylist1 = [1,2,3,]
mylist2 = ['a','b','c','d','e']
mylist3 = [6,7,8,9,10,11]

In [29]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 6), (2, 'b', 7), (3, 'c', 8)]

In [30]:
'x' in ['x','y','z']

True

In [32]:
'x' not in [1,2,3]

True

In [35]:
mylist = (10,20,30,40,50)

In [36]:
max(mylist)

50

In [37]:
min(mylist)

10

# LIST COMPREHENSION

In [40]:
lst = [x*2 for x in 'word']

In [41]:
lst

['ww', 'oo', 'rr', 'dd']

In [42]:
lst = [x**2 for x in range(0,11) ]

In [44]:
tuple(lst)

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [52]:
lst1 = [x**2 for x in range(0,11) ]

In [53]:
lst1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
lst = [x**2 for x in [x**2 for x in range(11)]]

In [55]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [56]:
[x**4 for x in range(11)]

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

# FUNCTION

In [60]:
def name_of_function(arg1,arg2):
    pass
    
    #Do something to get the desired result

In [61]:
def say_hello():
    print('hello')

In [62]:
say_hello()

hello

In [63]:
say_hello

In [1]:
def add_num(num1,num2):
    return num1+num2

In [4]:
add_num('one','two')

'onetwo'

In [14]:
def print_result(a,b):
    print(a+b)

In [6]:
def return_result(a,b):
    return a+b

In [7]:
print_result(10,5)

15

In [8]:
my = print_result(10,5)

15

In [9]:
my

In [10]:
type(my)

NoneType

In [11]:
return_result(10,5)

15

In [12]:
my1 = return_result(10,5)

In [13]:
my1

15

In [15]:
def even_check(number):
    return number % 2 == 0

In [16]:
even_check(20)

True

In [17]:
even_check(21)

False

In [31]:
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            print(True)
        else:
            print(False)

In [33]:
check_even_list([2,2,3])

True
True
False

In [32]:
check_even_list([1,1,3])

False
False
False

# OOPS

In [38]:
lst = [1,2,3,2]

In [39]:
lst.count(2)

2

In [43]:
print(type(1))
print(type([]))
print(type(()))
print(type({}))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [45]:
class Sample:
    pass

x = Sample()
print(type(x))

<class '__main__.Sample'>

In [46]:
class Dog:
    def __init__(self,breed):     #__init__  init Method(Special Method)
        self.breed = breed
        
sam = Dog(breed = "Lab")
frank = Dog(breed = 'Huskie')

In [47]:
sam.breed

'Lab'

In [48]:
frank.breed

'Huskie'

In [54]:
class Dog:
    
    def __init__(self,breed,species):
        self.breed = breed
        self.species = species

In [55]:
sam = Dog('Lab','mammal')

In [51]:
sam.name

'Sam'

In [52]:
sam.breed

'Lab'

In [56]:
sam.species

'mammal'

In [64]:
class Circle:
    pi = 3.14
    
    def __init__(self,radius = 1):
        self.radius = radius
        self.area = radius*radius*Circle.pi
    
    # Restting the radius
    def setRadius(self,new_radius):
        self.radius = new_radius
        self.area = new_radius*new_radius*self.pi
         
    #Circumference
    def getCircumference(self):
        return self.radius * self.pi * 2
    
c = Circle()
print(c.radius)
print(c.area)
print(c.getCircumference())

1
3.14
6.28

In [65]:
c.setRadius(3)

In [66]:
print(c.radius)
print(c.area)
print(c.getCircumference())

3
28.26
18.84

In [67]:
class Animal:
    def __init__(self):
        print('Animal Created')
        
    def whoAmI(self):
        print('Animal')
        
    def eat(self):
        print('Eating')
        
class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print("Dog Created")
        
    def whoAmI(self):
        print('Dog')
        
    def bark(self):
        print('Woof!')

In [74]:
d = Dog()

Animal Created
Dog Created

In [75]:
d.whoAmI()

Dog

In [70]:
d.eat()

Eating

In [71]:
d.bark()

Woof!

# Polymorphism

In [77]:
class Dog:
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        return self.name + ' Says Woof!'

class Cat:
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        return self.name + ' says Meow!'
    
niko = Dog('Niko')
felix = Cat('felix')

print(niko.speak())
print(felix.speak())

# Refers to the way in which different object classes can share the same method name, and those method can be called from the same place even though 
# a variety of different objects might be passed in.

Niko Says Woof!
felix says Meow!