# MAP

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [4]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [16]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring

In [17]:
mynames = ('John','Cindy','Sarah','Kelly',"Mike")

In [18]:
list(map(splicer,mynames))

['even', 'Cindy', 'Sarah', 'Kelly', 'even']

## Filter

In [25]:
def check_even(num):
    return num % 2 == 1

In [26]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [28]:
tuple(filter(check_even, nums))

(1, 3, 5, 7, 9)

# Lambda Expression

In [30]:
def square(num):
    result = num**2
    return result

In [31]:
square(2)

4

In [32]:
def square(num):
    return num**2

In [33]:
square(2)

4

In [35]:
def twice(num): return num**2

In [36]:
twice(2)

4

In [38]:
list(map(lambda num: num ** 2, my_nums))

[1, 4, 9, 16, 25]

In [37]:
my_nums

[1, 2, 3, 4, 5]

In [44]:
abc = tuple(filter(lambda n: n % 2 == 0,nums))

In [45]:
abc[0] = 5

TypeError: 'tuple' object does not support item assignment

In [43]:
abc

[5, 2, 4, 6, 8, 10]

# Regular Expression

In [78]:
text = 'The person phone number is +916395353408. Call me Soon in my phone phone!'

In [48]:
'phone' in text

True

In [49]:
import re

In [50]:
pattern = 'NOT in TEXT'

In [51]:
re.search(pattern,text)

In [52]:
pattern = 'phone'

In [64]:
match = re.search(pattern,text)

In [54]:
text[11]

'p'

In [56]:
text[15]

'e'

In [67]:
match.span()

(56, 61)

In [68]:
match.start()

56

In [69]:
match.end()

61

In [71]:
match = re.findall('phone',text)

In [84]:
match

In [85]:
for match in re.finditer('phone',text):
    print(match.span())

(11, 16)
(61, 66)
(67, 72)

In [94]:
text = 'The person phone number is 4000-5550-1234. Call me Soon in my phone phone!'

In [89]:
phone = re.search(r'\d\d\d-\d\d\d-\d\d\d\d',text)

In [90]:
phone.group()

'400-555-1234'

In [95]:
phone = re.search(r'\d\d\d-\d\d\d-\d\d\d\d',text)

re.search(r'\d{4}-\d{4}-\d{4}',text)

# | or Operator

In [97]:
re.search(r"man|woman","This man was here.")

In [98]:
re.search(r"man|woman","This woman was here.")

# Wildcard Operator in Python

In [105]:
re.findall(r"at..","The ccccatdd in the hhhhatddd ssssatddd here")

['atdd', 'atdd', 'atdd']

In [118]:
re.findall(r'\d$','This ends with 2 a number 1')   # $ signals where the number end

['1']

In [120]:
re.findall(r'^\d','3 This ends with 2 a number 1')   # ^ signals where the number start

['3']

In [122]:
phrase = 'there are 3 numbers 34 inside 5 this sentences' # Exclusion

In [123]:
re.findall(r'[^\d]',phrase)

['t',
 'h',
 'e',
 'r',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 's',
 ' ',
 ' ',
 'i',
 'n',
 's',
 'i',
 'd',
 'e',
 ' ',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'n',
 'c',
 'e',
 's']

In [125]:
re.findall(r'[^\d]+',phrase)

['there are ', ' numbers ', ' inside ', ' this sentences']

In [126]:
test_phrase = 'This is a string! But it has punctuation. How can we remove it?'

In [127]:
re.findall('[^!.? ]+',test_phrase)

['This',
 'is',
 'a',
 'string',
 'But',
 'it',
 'has',
 'punctuation',
 'How',
 'can',
 'we',
 'remove',
 'it']