In [1]:
import sqlite3

connection = sqlite3.connect('store_transactions.db')

cursor = connection.cursor()

In [2]:
# Creates Stores table
command = """CREATE TABLE IF NOT EXISTS
stores(store_id INTEGER PRIMARY KEY, location TEXT)"""

cursor.execute(command)

In [3]:
command1 = """CREATE TABLE IF NOT EXISTS
purchases(purchase_id INTEGER PRIMARY KEY, store_id INTEGER, total_cost FLOAT, 
FOREIGN KEY(store_id) REFERENCES stores(store_id))"""

cursor.execute(command1)

In [4]:
# Add to stores
cursor.execute("INSERT INTO stores VALUES (21, 'Minneapolis')")
cursor.execute("INSERT INTO stores VALUES (95, 'Chicago')")
cursor.execute("INSERT INTO stores VALUES (64, 'Iowa City')")

In [5]:
# Add to purchase
cursor.execute("INSERT INTO purchases VALUES (54, 23,15.49)")
cursor.execute("INSERT INTO purchases VALUES (95, 29, 18.99)")

In [9]:
cursor.execute("Select * FROM purchases")

results = cursor.fetchall()
print(results)

[(95, 29, 18.99)]